.properties-container {
  padding: 20px;
}

.section-title {
  font-size: 24px;
  margin-top: 20px;
}

.properties-list {
  list-style: none;
  padding: 0;
}

.property-container {
  border: 1px solid rgb(230, 228, 228);
  border-radius: 0.5rem;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Added to vertically center property details and actions */
}

.property-image {
  flex: 0 0 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.property-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.property-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

.property-info {
  margin-bottom: 10px;
  text-align: left;
}

.property-label {
  font-weight: bold;
}

.property-divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid rgb(230, 228, 228);
}

.property-analysis-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 800;
}

.property-analysis {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: left;
  @media (max-width: 700px) {
    display: block;
  }
}

.property-analysis-item {
  flex: 1 0 50%;
  word-break: break-word; /* Added to allow line breaks within analysis items */
  margin-bottom: 10px;
}

.property-value {
  font-weight: bold;
}

@media (max-width: 768px) {
  .property-container {
    flex-direction: column;
  }

  .property-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.do-not-invest {
  font-weight: 800;
  color: red;
}

.good-deal {
  font-weight: 800;
  color: rgb(0, 151, 48);
}

.property-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.property-action-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  color: #333;
  transition: color 0.3s;
}

.property-action-button:hover {
  color: #777;
}

.confirmation-popup {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
}

.confirmation-popup p {
  margin: 0 0 20px;
}

.confirm-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.confirm-button:hover {
  background-color: #c82333;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #b6b6b6;
}
