.form-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 800;
}

.input-field {
  color: white;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-color: rgb(28, 19, 83);
}

.input-field::placeholder {
  color: rgb(190, 168, 250);
}

.submit-btn {
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 22px;
  margin-top: 20px;
}
